<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Upload File</nb-card-header>
      <nb-card-body>
        TDDO: HOW TF DO WE UPLOAD A FILE
        <button type="upload" class="btn btn-info">Chose File</button>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Caption</nb-card-header>
      <nb-card-body>
        <textarea rows="5" placeholder="Caption" class="form-control"></textarea>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Location</nb-card-header>
      <nb-card-body>
        <div class="input-group full-width">
          <div class="input-group-addon">Lat</div>
          <input type="text" class="form-control" placeholder="latitude">
        </div>
        <div class="input-group full-width">
            <div class="input-group-addon">Long</div>
            <input type="text" class="form-control" placeholder="longitude">
          </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
        <button type="submit" class="btn btn-success">Submit</button>
    </nb-card>

  </div>

</div>